<?xml version="1.0" encoding="utf-8"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAPSDK1="http://www.w3.org/2001/XMLSchema" xmlns:SOAPSDK2="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAPSDK3="http://schemas.xmlsoap.org/soap/encoding/">
  <SOAP-ENV:Body>
    <UploadFile xmlns="http://tempuri.org/">
      <buffer xmlns:SOAPSDK4="http://tempuri.org/">|-buffer-|</buffer>
      <offset xmlns:SOAPSDK5="http://tempuri.org/">|-offset-|</offset>
      <length xmlns:SOAPSDK6="http://tempuri.org/">|-length-|</length>
      <strFileName xmlns:SOAPSDK7="http://tempuri.org/">|-strFileName-|</strFileName>
      <strPWD xmlns:SOAPSDK8="http://tempuri.org/">|-strPWD-|</strPWD>
    </UploadFile>
  </SOAP-ENV:Body>
</SOAP-ENV:Envelope>